body {  
  background: #2F2B4A;
}
.App {
  text-align: center;
}
.content button {
  margin: 10px;
}
.welcome, .loginHeader, .header {
  color: #F0F4F7;
}
.loginInput {
  margin: 5px;
  margin-top: 10px;
}
.ticket {
  color: #F0F4F7;
}
.ticketsContainer {
  display: flex;
  justify-content: space-evenly;
}
.ticketSubcontainer {
  width:40%;
}
.createTicketButton {
  float: left;
  margin-left: 8%;
  margin-top: 10px;
  padding: 10px;
}
.ticketList {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background: #F0F4F7;
}
.assignedListHelper {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background: #F0F4F7;
}
.ticketButton {
  margin: 5px;
}
