.App {
  text-align: center;
}
.content button {
  margin: 10px;
}
.image img {
  width: 40%;
  height: auto;
}
.helperWelcome {
  margin-left: 10%;
  color: #F0F4F7;
}
.helperLoginInput {
  margin: 5px;
  margin-top: 10px;
}
.helperComponent {
  margin-top: -22px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #2F2B4A;
}
.helperTicket {
  color: #F0F4F7;
}
.helperTicketsContainer {
  display: flex;
  justify-content: space-evenly;
}
.helperTicketSubcontainer {
  width:40%;
}
.helperCreateTicketButton {
  float: left;
  margin-left: 8%;
  margin-top: 10px;
  padding: 10px;
}
.ticketListHelper {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background: #F0F4F7;
}
.assignedListHelper {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background: #F0F4F7;
}
.helperTicketButton {
  margin: 5px;
}